.about {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    padding: 50px 100px;
    gap: 30px;
}

.about img{
    width: 550px;
    border-radius: 5px;
}

.a-title{
    font-size: 26px;
    font-weight: bold;
    color: rgb(68, 68, 68);
}

.a-des{
    color: rgb(68, 68, 68);
    
}

