@font-face {
    font-family: 'Kalameh';
    src: url('./Fonts/KALAMEH-MEDIUM.TTF') format('ttf');
}

* {
    padding: none;
    margin: none;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Kalameh' , sans-serif;
    overflow-x: hidden;

}